/* stylelint-disable font-family-name-quotes */
/* stylelint-disable scss/at-rule-no-unknown */
/* stylelint-disable selector-class-pattern */
@import url('https://fonts.googleapis.com/css2?family=Inter&family=Marcellus&display=swap');

@tailwind components;
@tailwind base;
@tailwind utilities;

@font-face {
  font-family: 'TG Siloka Sundanesse';
  src: url('../fonts/tg-siloka-sundanesse/TGSilokaSundanese-Light.otf');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'TG Siloka Sundanesse';
  src: url('../fonts/tg-siloka-sundanesse/TGSilokaSundanese-Regular.otf');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'TG Siloka Sundanesse';
  src: url('../fonts/tg-siloka-sundanesse/TGSilokaSundanese-Bold.otf');
  font-weight: 700;
  font-style: normal;
}

html,
body {
  @apply bg-stone-100 dark:bg-slate-800 text-stone-800 dark:text-slate-200;
}

html.has-scroll-smooth {
  @apply overflow-hidden;
}

html.has-scroll-dragging {
  @apply select-none;
}

.has-scroll-smooth body {
  @apply overflow-hidden;
}

.has-scroll-smooth .content {
  @apply min-h-screen;
}

.c-scrollbar {
  @apply absolute top-0 right-0 w-[11px] h-screen opacity-0;

  transform-origin: center right;
  transition: transform 0.3s, opacity 0.3s;
}

.c-scrollbar:hover {
  transform: scaleX(1.45);
}

.c-scrollbar:hover,
.has-scroll-scrolling .c-scrollbar,
.has-scroll-dragging .c-scrollbar {
  @apply opacity-100;
}

.c-scrollbar_thumb {
  @apply absolute top-0 right-0 w-[7px] rounded-xl m-[2px];
  @apply bg-stone-800 dark:bg-slate-200;
}
