/* stylelint-disable font-family-name-quotes */
/* stylelint-disable scss/at-rule-no-unknown */
/* stylelint-disable selector-class-pattern */

@tailwind components;
@tailwind base;
@tailwind utilities;

@font-face {
  font-family: 'TG Siloka Sundanesse';
  src: url('../fonts/tg-siloka-sundanesse/TGSilokaSundanese-Light.otf');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'TG Siloka Sundanesse';
  src: url('../fonts/tg-siloka-sundanesse/TGSilokaSundanese-Regular.otf');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'TG Siloka Sundanesse';
  src: url('../fonts/tg-siloka-sundanesse/TGSilokaSundanese-Bold.otf');
  font-weight: 700;
  font-style: normal;
}

html,
body {
  @apply bg-stone-100 dark:bg-slate-800 text-stone-800 dark:text-slate-200;
}

html.has-scroll-smooth {
  @apply overflow-hidden;
}

html.has-scroll-dragging {
  @apply select-none;
}

.has-scroll-smooth body {
  @apply overflow-hidden;
}

.has-scroll-smooth .content {
  @apply min-h-screen;
}

/* stylelint-disable-next-line selector-id-pattern */
#__next {
  @apply bg-stone-100 dark:bg-slate-800;

  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

// Scrollbar
.c-scrollbar {
  @apply absolute top-0 right-0 w-[11px] h-screen opacity-0;

  transform-origin: center right;
  transition: transform 0.3s, opacity 0.3s;
}

.c-scrollbar:hover {
  transform: scaleX(1.45);
}

.c-scrollbar:hover,
.has-scroll-scrolling .c-scrollbar,
.has-scroll-dragging .c-scrollbar {
  @apply opacity-100;
}

.c-scrollbar_thumb {
  @apply absolute top-0 right-0 w-[7px] rounded-xl m-[2px];
  @apply bg-stone-800 dark:bg-slate-200;
}

.background-transparent {
  @apply bg-transparent #{!important};
}

.opacity-zero {
  @apply opacity-0 #{!important};
}

.opacity-one {
  @apply opacity-100 #{!important};
}

// Prose
.prose .anchor {
  @apply absolute invisible no-underline;

  margin-left: -1em;
  padding-right: 0.5em;
  width: 80%;
  max-width: 700px;
  cursor: pointer;
}

.anchor:hover {
  @apply visible;
}

.prose a {
  @apply transition-all;
}

.prose .anchor::after {
  @apply text-gray-300 dark:text-gray-700;

  content: '#';
}

.prose *:hover > .anchor {
  @apply visible;
}

.prose pre {
  @apply border border-gray-200 bg-white dark:border-gray-700 dark:bg-gray-900;
}

.prose code {
  @apply text-gray-800 dark:text-gray-200 px-1 py-0.5 border border-gray-100 dark:border-gray-800 rounded-lg bg-white dark:bg-gray-900;
}

.prose pre code {
  @apply text-gray-800 dark:text-gray-200 p-0;

  border: initial;
}

.prose img {
  /* Don't apply styles to next/image */
  @apply m-0 w-full;
}

.prose > :first-child {
  /* Override removing top margin, causing layout shift */
  margin-top: 1.25em !important;
  margin-bottom: 1.25em !important;
}

.token.comment,
.token.prolog,
.token.doctype,
.token.cdata {
  @apply text-gray-700 dark:text-gray-300;
}

.token.punctuation {
  @apply text-gray-700 dark:text-gray-300;
}

.token.property,
.token.tag,
.token.boolean,
.token.number,
.token.constant,
.token.symbol,
.token.deleted {
  @apply text-green-500;
}

.token.selector,
.token.attr-name,
.token.string,
.token.char,
.token.builtin,
.token.inserted {
  @apply text-purple-500;
}

.token.operator,
.token.entity,
.token.url,
.language-css .token.string,
.style .token.string {
  @apply text-yellow-500;
}

.token.atrule,
.token.attr-value,
.token.keyword {
  @apply text-blue-500;
}

.token.function,
.token.class-name {
  @apply text-pink-500;
}

.token.regex,
.token.important,
.token.variable {
  @apply text-yellow-500;
}

/* stylelint-disable-next-line no-descending-specificity */
pre {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

code[class*='language-'],
pre[class*='language-'] {
  @apply text-gray-800 dark:text-gray-50;
}

pre::-webkit-scrollbar {
  display: none;
}

.rehype-code-title {
  @apply px-5 py-3 font-mono text-sm font-bold text-gray-800 bg-gray-200 border border-b-0 border-gray-200 rounded-t-lg dark:text-gray-200 dark:border-gray-700 dark:bg-gray-800;
}

.rehype-code-title + pre {
  @apply mt-0 rounded-t-none;
}

.highlight-line {
  @apply block px-4 -mx-4 bg-gray-100 border-l-4 border-blue-500 dark:bg-gray-800;
}
